<p>El pago fue realizado exitosamente</p>
<p>Info solicitada</p>
<ul>
    <li>Payment method : {{payment_type}}</li>
    <li>External reference : {{external_reference}}</li>
    <li>Payment ID : {{payment_id}}</li>
</ul>